/* index.html */
/*
#page {
    height: 500px;
    padding: 50px;
    background: plum;
    border: 3px green;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
#opening {
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 200px;
}

#sideproject {
    color: blueviolet;
    background-color: orange;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

body {
    align-items: center;
}

* {
    /*border: 1px solid red;*/
  }